@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(127.48deg, #391E86 2.21%, #220B2E 53.35%) no-repeat;
  margin: 0px;
  color: var(--Black);
  --Black: #111;
  --Roxa: #391E86;
  --Cinza: #696B73;
  --Dourado: #FCCA1C ;
}

.Dourado {
  color: var(--Dourado);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/* Tipografia */

.T1-Exbold {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
}
.T2-Exbold {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 38px;
  line-height: 56px
}
.T3-Exbold {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
}
.T4-Bold {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
}
.T5-Bold {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.T6-Bold {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.T7-Semi {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.T7-Medio {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}